.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3vh;
    background-color: white;
    height:100vh;
    flex-wrap: wrap;
    


}
.head{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-weight: bold;
    width:30%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:10px;
    border-radius: 15px;
    
    
    
}
.display{
    width:30%;
    
    min-height: 30px;
    height: 7vh;
    
    box-sizing: border-box;  
    
    display:flex;   
    
    
}
input{
    width:100%;
    height:100%;
    color:black;
    font-size:3vw;
    font-weight: bold;
    border-radius: 10px;    
    text-align: right;
    
}

.row
{
    display: flex;
    gap:2vh;
    flex-wrap:wrap;
    
}
button{
    flex:1;
    width:25%;
    min-width:40px;
    min-height:40px;
    height:9vh;
    border-radius: 200px;
    background-color: black; 
    color:white;
    font-weight:1000;
    font-size:2vw;
}
#equal{
    background-color: orangered;
    border-color: darkorange;
}
.input-buttons
{
    display:flex;
    flex-direction: column;
    gap:2.5vh;
    width:30%;
    flex-wrap:wrap;
    
    
}

span{
    width:100%;
    text-align: center;
    font-size: 4vw;
    
}